:root {
  --color: #46a358;
  --banner-color: #3d3d3d;
}

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/* Container  */

.container {
  max-width: 1440px;
  padding: 20px 5%;
  margin: 0 auto;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img:nth-child(2) {
  display: none;
}

.nav_bar {
  display: flex;
  align-items: center;
}

.nav_list {
  margin: 0px 20px;
}

.nav_link {
  text-decoration: none;
  color: #3d3d3d;
  transition: all 0.3s;
  font-size: medium;
  font-weight: 600;
}

.nav_link:hover {
  color: #46a358;
  border-bottom: 2px solid #46a358;
}

.nav_button {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav_btn {
  width: 120px;
  height: 50px;
  background: #46a358;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.nav_search,
.nav_shop {
  cursor: pointer;
}

.col_img {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.col_img .img img:hover {
  border: 1px solid #46a358;
}

/* MEDIA RESPONSIVE */
@media screen and (max-width: 835px) {
  .nav_bar {
    display: none;
  }

  .logo img:first-child {
    display: none;
  }

  .logo img:nth-child(2) {
    display: block;
  }
}
