:root {
    --color: #46A358;
    --banner-color: #3D3D3D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden; 
}

.container {
    max-width: 1440px;
    padding: 0 5%;
}

/* Header */

nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo-text {
    color: var(--color);
    font-size: 18px;
    font-weight: 600;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.nav-link a {
    color: var(--banner-color);
}

.nav-link a:hover {
    color: var(--color);
}

.nav-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46A358;
    cursor: pointer;
}

.nav-button a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.search-tab {
    display: none;
}
.sidebar {
    display: none;
}
/* Header End */
/* Main  */
/* Banner */

    .banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1px 40px;
        flex-shrink: 0;
        border: 1px solid #000;
        background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .banner-texts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .banner-texts p {
        font-size: 14px;
        font-weight: 500;
        color: var(--banner-color);
    }

    .banner-texts h1 {
        font-size: 70px;
        font-weight: 900;
        color: var(--banner-color);
        width: 550px;
    }

    .banner-texts h1 b {
        color: var(--color);
    }

    .banner-texts span {
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        width: 550px;
    }
    .banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 40px;
        background: var(--color);
        margin-top: 44px;
        cursor: pointer;
    }
    .banner-btn a {
        font-size: 16px;
        font-weight: 700;
        color: white;
    }
/* Banner End */
/* Main End */




/* Response */

@media screen and (max-width:1115px) {
    /* Banner */
    .banner {
        justify-content: center;
        border: none;
        padding: 10px;
    }
    .banner-texts {
        align-items: center;    
    }

    .banner-texts h1 {
        text-align: center;
    }

    .banner-texts span {
        text-align: center;      
    }
    
    /* Banner End */
}


@media screen and (max-width:950px) {
    /* Header */
    .nav-item {
        display: none;
    }
    .nav-icons {
        display: none;
    }
    .sidebar {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .search-tab {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 10px;
        width: 250px;
        height: 40px;
        border-radius: 10px;
        background-color: aliceblue;
        outline: none;
        border: none;
    }
    /* Header End */
}

@media screen and (max-width:700px) {
    /* Banner  */
    .banner-texts h1 {
        width: 450px;
        font-size: 50px;
    }

    .banner-texts span {
        width: 400px;
    }
    /* Banner End */
}


@media screen and (max-width:600px) {
    /* Header */
    .search-tab {
        display: none;
    }
    /* Header End */
}

@media screen and (max-width:470px) {
    /* Banner  */
    .banner-texts h1 {
        width: 250px;
        font-size: 30px;
    }

    .banner-texts span {
        width: 250px;
    }
    .banner-btn {
        margin-top: 25px;
    }
    /* Banner End */
}

/* Response End */