:root {
    --color: #46A358;
    --banner-color: #3D3D3D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    animation: all 0.3 ease-in-out;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden; 
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Header */

nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo-text {
    color: var(--color);
    font-size: 18px;
    font-weight: 600;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.nav-link a {
    color: var(--banner-color);
}

.nav-link a:hover {
    color: var(--color);
}

.nav-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46A358;
    cursor: pointer;
}

.nav-button a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
/* Modal box */
#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
.modal-box{
    width: 500px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.close-icon {
    display: flex;
    justify-content: end;
    
}
.login-or-register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
}
.register {
    color: var(--banner-color);
}
.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input-title {
    color: var(--banner-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 14px;
}
.login-input input {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #EAEAEA; 
    margin: 17px; 
    outline: none;
    padding: 10px;
    color: var(--color);
    font-size: 14px;
}
.login-input input:hover {
    border: 1px solid var(--color);
}

.login-or-register a:nth-child(1) {
    color: var(--color);
}
.close-icon i {
    font-size: 25px;
    color: var(--color);
    cursor: pointer;
}

.forgot-password {
    text-align: end;
    margin-right: 90px;
}
.forgot-password a {
    color: var(--color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.login-btn {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #46A358;
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login-btn a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

body.active #overlay {
    opacity: 1;
    pointer-events: auto;
}
body.active .modal-box {
    opacity: 1;
    pointer-events: auto;
}
/* Modal box end */
.search-tab {
    display: none;
}
.sidebar {
    display: none;
}
/* Header End */
/* Main  */
/* Banner */

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px 40px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner-texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.banner-texts p {
    font-size: 14px;
    font-weight: 500;
    color: var(--banner-color);
}

.banner-texts h1 {
    font-size: 70px;
    font-weight: 900;
    color: var(--banner-color);
    width: 550px;
}

.banner-texts h1 b {
    color: var(--color);
}

.banner-texts span {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    width: 550px;
}
.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background: var(--color);
    margin-top: 44px;
    cursor: pointer;
}
.banner-btn a {
    font-size: 16px;
    font-weight: 700;
    color: white;
}
/* Banner End */
/* Products and Categories */

.products-and-categories {
    display: flex;
    margin-top: 45px;
    gap: 50px;
}

.categories {
    width: 310px;
    padding: 15px 0px;
    background: #FBFBFB;
    border: none;
    padding: 18px;
}

.products-and-categories-title h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--banner-color);
}

.categories-item {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.categories-link:nth-child(1) {
    color: var(--color);
}

.categories-link {
    color: var(--banner-color);
}

.price-range-block {
    margin-top: 36px;
}

.range-input[type=range] {
    outline: none;
    width: 250px;
    margin: 21px 0px;
}

.price-range-item p {
    color: var(--banner-color);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 14px;
}

.price-range-item p b {
    color: var(--color);
    font-size: 15px;
    font-weight: 700;
}

.price-range-button {
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #46A358;
    cursor: pointer;
}

.price-range-button a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.size {
    margin-top: 40px;
}

.size-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-left: 12px;
}
.size-link {
    color: var(--banner-color);
    font-size: 15px;
    font-weight: 400;
}

.products {
    width: auto;
}

.products-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.products-item {
    display: flex;
    gap: 35px;
}

#link-hover {
    color: var(--color);
}

.products-link {
    color: var(--banner-color);
}

.products-block {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
}

.products-cart-image {
    width: 258px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFBFB;
}

.products-cart-title h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--banner-color);
    margin-top: 12px;
}

.products-cart-price b {
    font-size: 18px;
    font-weight: 700;
    color: var(--color);

}
/* Products and Categories end */
/* About */

.about {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-block {
    width: 586px;
    height: 250px;
    background: #FBFBFB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-block-image {
    margin-bottom: 50px;
}

.about-block-main {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

.about-block-title {
    display: flex;
    justify-content: end;
}

.about-block-title h3 {
    font-size: 18px;
    font-weight: 900;
    color: var(--banner-color);
    direction: rtl;
    unicode-bidi: override;
    width: 170px;
    margin-right: 20px;
}

.about-block-text p {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    direction: rtl;
    unicode-bidi: override;
    text-wrap: wrap;
    width: 300px;
    margin-right: 20px;

}

.about-block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background: var(--color);
    border-radius: 6px;
    cursor: pointer;
    margin-right: 20px;

}

.about-block-button a {
    color: white;
    font-size: 16px;
    font-weight: 600;
}
/* About End */
/* Blog */

.blog {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blog-title-text {
    color: var(--banner-color);
    font-size: 30px;
    font-weight: 700;
}

.blog-title p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

.blog-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-cart {
    width: 268px;
    background: #FBFBFB;
}

.blog-cart-texts {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px 5px;
}

.blog-cart-texts p {
    color: var(--color);
    font-size: 14px;
    font-weight: 500;
}

.blog-cart-texts h3 {
    color: var(--banner-color);
    font-size: 20px;
    font-weight: 700;
    width: 250px;
}

.blog-cart-texts span {
    display: block;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

.blog-cart-text-link {
    color: var(--banner-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.blog-cart-text-link:hover {
    color: var(--color);
}

/* Blog End */
/* Main End */
/* Footer */
.footer {
    margin-top: 100px;
}

.footer-questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #FBFBFB;

    padding: 23px;
}

.questions-block {
    width: 204px;
}

.questions-block-title {
    color: var(--banner-color);
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

.questions-block p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-top: 9px;
}

.hr-line {
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.10);
}

.footer-questions-main {
    width: 354px;
}

.footer-questions-main-title h3 {
    color: var(--banner-color);
    font-size: 18px;
    font-weight: 700;
}

.footer-questions-main-input {
    display: flex;
    margin-top: 18px;
}

.footer-questions-main-input input {
    width: 269px;
    height: 40px;
    border-radius: 6px 0px 0px 6px ;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    padding-left: 11px;
    color: #ACACAC;
    border: none;
    outline: none;
}

.footer-questions-btn {
    width: 85px;
    height: 40px;
    background: var(--color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    border-radius: 0px 6px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-questions-btn a {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.footer-questions-main-text p {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    margin-top: 17px;
}

.contact {
    width: 100%;
    padding: 25px;
    background: rgba(70, 163, 88, 0.10);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.adress, .email, .phone {
    display: flex;
    align-items: center;
    gap: 8px;
}

.adress p {
    width: 210px;
}

.adress, .email, .phone p {
    font-size: 14px;
    font-weight: 400;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #FBFBFB;
    padding: 30px;
}
.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link a {
    font-size: 14px;
    font-weight: 400;
    color: var(--banner-color);
    margin: 5px;
}

.accept-title, .footer-link h3 {
    color: var(--banner-color);
    font-size: 18px;
    font-weight: 700;
}

.accept-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);  
}

.pay-title {
    margin-top: 35px;
}

.accept-img {
    margin-top: 13px;
}
/* Footer End */


/* Response */

@media screen and (max-width:1115px) {
    /* Banner */
    .banner {
        justify-content: center;
        border: none;
        padding: 10px;
    }
    .banner-texts {
        align-items: center;    
    }

    .banner-texts h1 {
        text-align: center;
    }

    .banner-texts span {
        text-align: center;      
    }
    
    /* Banner End */
    /* Products and Categories */

    .categories {
        display: none;
    }

    .products-block {
        justify-content: center;
    }
    /* Products and Categories end */
    /* About */

    .about {
        justify-content: center;
        gap: 30px;
        margin-top: 100px;
    }

    /* About End */
    /* Blog */
    .blog-main {
        width: 80%;
        justify-content: center;
        gap: 50px;
    }
    /* Blog End */
    /* Footer */
    .footer-questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }

    .hr-line {
        display: none;
    }

    .questions-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .questions-block p {
        width: 300px;
        text-align: center;
    }

    .footer-questions-main {
        width: 40%;
    }

    .footer-questions-main-title h3 {
        text-align: center;
    }

    .footer-questions-main-input {
        display: flex;
        justify-content: center;
    }

    .footer-questions-main-input input {
        width: 200px;
    }

    .footer-questions-main-text p {
        text-align: center;
    }
    /* Footer End */
}

@media screen and (max-width:950px) {
    /* Header */
    .nav-item {
        display: none;
    }
    .nav-icons {
        display: none;
    }
    .sidebar-main {
        display: flex;
        gap: 20px;
    }
    .sidebar {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search-tab {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 10px;
        width: 250px;
        height: 40px;
        border-radius: 10px;
        background-color: aliceblue;
        outline: none;
        border: none;
    }
    /* Header End */
    /* Blog */
    .blog-main {
        width: 100%;
    }
    /* blog Emd */
    /* Footer */
    .contact {
        justify-content: space-between;
        row-gap: 20px;
    }
    .footer-logo, .adress, .email, .phone {
        width: 50%;
    }
    .footer-item {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .accept {
        display: none;
    }
    /* Footer End */
}

@media screen and (max-width:850px) {
        /* Footer */
        .footer-questions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 20px;
            row-gap: 20px;
        }
    
        .hr-line {
            display: none;
        }
    
        .questions-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        .questions-block p {
            width: 300px;
            text-align: center;
        }
    
        .footer-questions-main {
            width: 100%;
        }
    
        .footer-questions-main-title h3 {
            text-align: center;
        }
    
        .footer-questions-main-input {
            display: flex;
            justify-content: center;
        }
    
        .footer-questions-main-input input {
            width: 200px;
        }
    
        .footer-questions-main-text p {
            text-align: center;
        }
        /* Footer End */
}

@media screen and (max-width:700px) {
    /* Banner  */
    .banner-texts h1 {
        width: 450px;
        font-size: 50px;
    }

    .banner-texts span {
        width: 400px;
    }
    /* Banner End */

    /* About */

    .about-block {
        width: 450px;
        height: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-block-image {
        margin-bottom: auto;
        max-width: 50%;
    }

    .about-block-main {
        align-items: center;
    }

    .about-block-title h3 {
        direction: ltr;
        unicode-bidi: normal;
        width: auto;
        text-align: center;
    }
    
    .about-block-text p {
        direction: ltr;
        unicode-bidi: normal ;
        text-wrap: wrap;
        width: 300px;
        text-align: center;
    }
    /* About End */
    /* Blog */
    .blog-cart-texts p {
        text-align: center;
    }
    
    .blog-cart-texts h3 {
        text-align: center;
    }
    
    .blog-cart-texts span {
        text-align: center;
    }
    .blog-title p {
        text-align: center;
    }
    /* blog Emd */
    /* Footer */
    .footer-questions {
        display: none;
    }
    /* Footer End */
}

@media screen and (max-width:600px) {
    /* Header */
    .search-tab {
        display: none;
    }
    /* Header End */
    /* Footer */
    .contact {
        justify-content: center;
    }
    .footer-logo, .adress, .email, .phone {
        width: 100%;
    }
    /* Footer End */
    /* Modal box */
    .modal-box {
        width: 350px;
        padding: 10px;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-input input, .login-btn {
        width: 250px;
    }
    .login-input-title {
        width: 200px;
        text-align: center;
    }
    .forgot-password {
        margin-right: 50px;
    }
    
    /* Modal box end */
}

@media screen and (max-width:470px) {
    /* Banner  */
    .banner-texts h1 {
        width: 250px;
        font-size: 30px;
    }

    .banner-texts span {
        width: 250px;
    }
    .banner-btn {
        margin-top: 25px;
    }
    /* Banner End */
    /* About */
    .about-block {
        width: 300px;
    }
    .about-block-title h3 {
        font-size: 14px;
    }
    
    .about-block-text p {
        width: 200px;
        font-size: 12px;
    }
    /* About End */
        /* Modal box */
        .modal-box {
            width: 250px;
        }
        .login-input input, .login-btn {
            width: 150px;
            font-size: 10px;
        }
        .login-btn a {
            font-size: 14px;
        }
        
        /* Modal box end */
}

/* Response End */